.App {
  height:100vh;
  text-align: center;
  border: 1px solid blue;
  flex-direction:row;
  display: flex;
  justify-content: space-around;
}
.input-area{
  border: 1px solid grey;
  width:20%;
  height:90%;
  border-radius: 5px;
  align-self: center;
  text-align: left;
  padding-left: 15px;
  overflow-y: scroll;
  max-height:100%;
}
.display-area{
  border: 1px solid grey;
  width:30%;
  height:90%; 
  border-radius: 5px;
  align-self: center;
  
}
.display-parking-lots{
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height:100%;
}
.single-parking-lot{
  background-color: green;
  border:1px solid;
  width:40px;
  height:50px;
  margin:5px;
  border-radius: 5px;
}
.parging-lot-number-text{
  font-size: 10px;
  color: #FFF;
}
.display-parking-details{
  overflow-y: scroll;
  max-height:100%;
}
.single-parking-details-row{
  display: flex;
}
.row-item1{
  width:10%;
  padding:10px;
  border: 1px solid;
}
.row-item2{
  width:50%;
  padding:10px;
  border: 1px solid;
}
.row-item3{
  width:20%;
  padding:10px;
  border: 1px solid;
}
.warning{
  color:red;
  font-size: 10px;
}
